/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
   Base
*/

html,body{
	height:100%;
}

html {
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    min-height: 100%;
    font-size: 14px;
    color: #333;
    line-height: 1.3;
    word-wrap: break-word;
    font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	background-color: #fafafa;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    vertical-align: middle;
    -webkit-touch-callout: none;
}
ol, ul, li { list-style: none; }
span, i { display: inline-block; }
input, textarea, button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    -webkit-appearance: none;
}
input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

//ここから

// @font-face {
// 	font-family: "aquino"
// 	src url("../fonts/Aquino-Demo.ttf") format('woff'),
// 	url("../fonts/Aquino-Demo.ttf") format('truetype');
// }

//
// @keyframes AnimationName{
//   0%{
//     background-position:0% 50%;
// 	}
//   50%{
//     background-position:100% 50%;
// 	}
//   100%{
//     background-position:0% 50%;
// 	}
// }
// @mixin background-color-animetion($color1,$color2){
//   background: linear-gradient(45deg, $color1, $color2, $color1);
//   background-size: 600% 600%;
//   animation: AnimationName 9s ease infinite;
// }
//
// @mixin contour($contour_color){
//   text-shadow: $contour_color 0.2vw 0.2vw 0px, $contour_color -0.2vw 0.2vw 0px,
//               $contour_color 0.2vw -0.2vw 0px, $contour_color -0.2vw -0.2vw 0px,
//               $contour_color 0px 0.2vw 0px, $contour_color -0.2vw 0px 0px,
//               $contour_color 0.2vw 0px 0px, $contour_color -0px -0.2vw 0px;
// }


//
// .wrapper_rank{
// 	@include background-color-animetion(#14ff00, #f2ff86);
// 	padding:0 0 5%;
// 	h1{
// 		font-size: 6vw;
//     letter-spacing: 1vw;
//     text-align:center;
//     font-family: "aquino";
//     color: #ffa000;
// 		margin: 0 0 2%;
//     @include contour(#fff1da);
// 	}
// 	ul{
// 		width: 80%;
// 		margin:0 auto;
// 		li{
// 			background: #fff;
// 			margin: 0 0 15px;
// 			position: relative;
// 			.board__title{
// 				position: absolute;
// 				top: 20%;
// 			}
// 			.board__date{
// 				position: absolute;
// 				top: 30%;
// 				right: 0%;
// 			}
// 		}
// 		&.rank-list{
// 			li{
// 				height: 120px;
// 				&:nth-child(1){
// 					background:#fff url(../images/rank1.png) no-repeat 2% 40%;
// 					background-size:7%;
// 					border-left:15px solid #ffd700;
// 					border-bottom:5px solid #ffd700;
// 				}
// 				&:nth-child(2){
// 					background:#fff url(../images/rank2.png) no-repeat 2% 40%;
// 					background-size:7%;
// 					border-left:15px solid #c0c0c0;
// 					border-bottom:5px solid #c0c0c0;
// 				}
// 				&:nth-child(3){
// 					background:#fff url(../images/rank3.png) no-repeat 2% 40%;
// 					background-size:7%;
// 					border-left:15px solid #c47222;
// 					border-bottom:5px solid #c47222;
// 				}
// 				.board__title{
// 					left: 10%;
// 					font-size:3vw;
// 				}
// 				.board__date{
// 					text-align: right;
// 					font-size:2vw;
// 					padding: 0 5% 0 0;
// 				}
// 			}
// 		}
// 		&.new-list{
// 			li{
// 				height: 90px;
// 				border-left:4px solid #000;
// 				border-bottom:2px solid #000;
// 			}
// 			.board__title{
// 				left: 5%;
// 				font-size:2vw;
// 			}
// 			.board__date{
// 				text-align: right;
// 				font-size:1.5vw;
// 				padding: 0 5% 0 0;
// 			}
// 		}
// 	}
// }
// //ここからsp
// @media (max-width: 767px) {
// 	.wrapper_rank{
// 		h1{
// 			font-size: 6vw;
// 	    letter-spacing: 1vw;
// 	    text-align:center;
// 	    font-family: "aquino";
// 	    color: #ffa000;
// 			margin: 0 0 2%;
// 	    @include contour(#fff1da);
// 		}
// 		ul{
// 			width: 90%;
// 			margin:0 auto;
// 			li{
// 				background: #fff;
// 				margin: 0 0 15px;
// 				padding: 20px;
// 			}
// 			&.rank-list{
// 				li{
// 					&:nth-child(1){
// 						background:#fff url(../images/rank1.jpg) no-repeat 5% 30%;
// 						background-size:auto 50%;
// 						border-left:7px solid #ffd700;
// 						border-bottom:3px solid #ffd700;
// 					}
// 					&:nth-child(2){
// 						background:#fff url(../images/rank2.jpg) no-repeat 5% 30%;
// 						background-size:auto 50%;
// 						border-left:7px solid #c0c0c0;
// 						border-bottom:3px solid #c0c0c0;
// 					}
// 					&:nth-child(3){
// 						background:#fff url(../images/rank3.jpg) no-repeat 5% 30%;
// 						background-size:auto 50%;
// 						border-left:7px solid #c47222;
// 						border-bottom:3px solid #c47222;
// 					}
// 					.board__title{
// 						font-size:3.5vw;
// 					}
// 					.board__date{
// 						text-align: right;
// 						font-size:2.5vw;
// 						padding: 0 5% 0 0;
// 					}
// 				}
// 			}
// 			&.new-list{
// 				li{
// 					padding-left:5%;
// 					border-left:4px solid #000;
// 					border-bottom:2px solid #000;
// 				}
// 				.board__title{
// 					font-size:2vw;
// 				}
// 				.board__date{
// 					text-align: right;
// 					font-size:1.5vw;
// 					padding: 0 5% 0 0;
// 				}
// 			}
// 		}
// 	}
// }

@mixin sp_width($inner,$max){
	width:$inner;
	max-width: $max;
	margin:0 auto;
}

//class定義
.rank_btn{
	width:80%;
	margin:0 auto;
  > a{
    display: block;
		width:100%;
		height:20vw;
		line-height:calc(20vw - 6px);
    margin: auto;
    border: 3px solid #f5f5f5;
    box-sizing :border-box;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
		text-align: center;
    color: #f5f5f5;
    background-color: #F2784B;
	}
}

.title_text,.detail_text{
	line-height: 1.666;
}

//inview class1
.mv_1 {
	position: relative;
	opacity: 0;
	transform: translateY(10px);
	transition: 1s cubic-bezier(0.330, 0.065, 0.000, 1.000);
	transition-delay: .25s;
}

.mv_2 {
	opacity: 1.0;
	transform: translate(0, 0);
}

//inview class2
.under_line_1{
  position: relative;
	display: table;
	margin: 0 auto;
}

.under_line_1:before{
  position: absolute;
  top: calc(35% + 25px);
  left: 0;
  content: "";
  display: inline-block;
  width: 0;
  height: 5px;
  background: #e6ff1d;
	border-radius: 10px;
  transition: 1s cubic-bezier(0.755, 0.000, 0.135, 1.000);
	transition-delay: .15s;
}

.under_line_2:before{
  width: 100%;
}


//ここからsp新規
.wrapper{
	height:100%;
	@include sp_width(100%,750px);
	#firstview{
		position: relative;
		background: url(../img/firstview.png) no-repeat center top;
		background-size:100% auto;
		height:100%;
		max-height:667px;
		h1{
			width:80%;
			margin:0 auto;
			padding:130px 0 0;
			img{
				width:100%;
			}
		}
		.rank_btn{
			margin-top: 75%;
			padding: 0 0 20%;
		}
		// .scroll{
		// 	position: absolute;
		// 	right:30%;
		// 	bottom:5%;
		// 	width:60px;
		// 	height:60px;
		// 	border:1px solid #fff;
		// 	border-radius: 50%;
		// 	writing-mode: vertical-rl;
		// }
	}
	#about{
		border-top:3px solid #fff;
		background: #009264;
		color:#fff;
		h2{
			font-size:25px;
			font-weight: bold;
			text-align: center;
			padding:5% 0;
		}
		.title_text{
			width:90%;
			margin:0 auto;
			padding:0 0 5%;
			font-size:15px;
		}
	}
	#flow{
		border-top:3px solid #fff;
		background: #7FDEF4;
		padding: 0 0 5%;
		color :#000;
		font-weight: bold;
		h2{
			font-size:25px;
			text-align: center;
			padding:5% 0;
		}
		.flow_detail{
			width:90%;
			margin:0 auto;
			padding:0 0 5%;
			h3{
				font-size:20px;
				padding:3% 0;
				text-align: center;
				.number{
					padding:0 5px 0 0;
				}
			}
			.image_wrap{
				img{
					width: 100%;
				}
			}
			.skill_wrap{
				padding:3% 5%;
				font-size:14px;
				.skill{
					margin:15px 0;
					@for $i from 1 through 4 {
					  &_#{$i} {
							background: url(../img/#{$i}.png) no-repeat 95% center;
							background-size: 50px;
						}
					}
					span{
						display: block;
						width:60%;
						margin: 8px 0px;
						padding: 5px;
						border-radius: 10px;
						background: #fff;
						border:3px solid #F2784B;
						text-align: center;
						box-sizing: border-box;
					}
				}
			}
			.detail_text{
				padding:3% 0 0;
				font-size:14px;
			}
		}
	}
	#come{
		border-top:3px solid #fff;
		background: #009264;
		color:#fff;
		padding: 0 0 10%;
		h2{
			padding:5% 0;
			font-size:25px;
			text-align: center;
			line-height:1.4;
			font-weight: normal;
			span{
				font-size:40px;
				font-weight: bold;
				display: inline !important;
			}
		}
		h3{
			width:90%;
			margin:0 auto 5%;
			font-size:20px;
			text-align: center;
		}
	}
}
//rankページ
.wrapper_rank{
	@include sp_width(100%,750px);
	.firstview{
		width:100%;
		height:100vh;
		background: #7FDEF4 url(../img/firstview.png) no-repeat center bottom;
		background-size: 100% auto;
		h1{
			width:80%;
			margin:0 auto;
			padding:5% 0 6%;
			img{
				width:100%;
			}
		}
		.top-rank-list{
			width:90%;
			margin:0 auto;
			li{
				height:27vw;
				margin:0 0 15px;
				&:nth-child(1){
					background:#fff url(../img/rank1.png) no-repeat 10% center;
					background-size: 60px;
				}
				&:nth-child(2){
					background:#fff url(../img/rank2.png) no-repeat 10% center;
					background-size: 60px;
				}
				&:nth-child(3){
					background:#fff url(../img/rank3.png) no-repeat 10% center;
					background-size: 60px;
				}
				.title{

				}
				.data{

				}
			}
		}

		.rank_btn{
			padding:5% 0 0;
		}
	}
	.sub_contents{
		border-top: 3px solid #fff;
		background: #009264;
	}
}
