/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
   Base
*/

html {
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    position: relative;
    min-height: 100%;
    font-size: 14px;
    color: #333;
    line-height: 1.3;
    word-wrap: break-word;
    font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	background-color: #fafafa;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    vertical-align: middle;
    -webkit-touch-callout: none;
}
ol, ul, li { list-style: none; }
span, i { display: inline-block; }
input, textarea, button {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    background-color: inherit;
    color: inherit;
    -webkit-appearance: none;
}
input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

//ここから

// @font-face {
// 	font-family: "aquino"
// 	src url("../fonts/Aquino-Demo.ttf") format('woff'),
// 	url("../fonts/Aquino-Demo.ttf") format('truetype');
// }

//
// @keyframes AnimationName{
//   0%{
//     background-position:0% 50%;
// 	}
//   50%{
//     background-position:100% 50%;
// 	}
//   100%{
//     background-position:0% 50%;
// 	}
// }
// @mixin background-color-animetion($color1,$color2){
//   background: linear-gradient(45deg, $color1, $color2, $color1);
//   background-size: 600% 600%;
//   animation: AnimationName 9s ease infinite;
// }
//
// @mixin contour($contour_color){
//   text-shadow: $contour_color 0.2vw 0.2vw 0px, $contour_color -0.2vw 0.2vw 0px,
//               $contour_color 0.2vw -0.2vw 0px, $contour_color -0.2vw -0.2vw 0px,
//               $contour_color 0px 0.2vw 0px, $contour_color -0.2vw 0px 0px,
//               $contour_color 0.2vw 0px 0px, $contour_color -0px -0.2vw 0px;
// }


//
// .wrapper_rank{
// 	@include background-color-animetion(#14ff00, #f2ff86);
// 	padding:0 0 5%;
// 	h1{
// 		font-size: 6vw;
//     letter-spacing: 1vw;
//     text-align:center;
//     font-family: "aquino";
//     color: #ffa000;
// 		margin: 0 0 2%;
//     @include contour(#fff1da);
// 	}
// 	ul{
// 		width: 80%;
// 		margin:0 auto;
// 		li{
// 			background: #fff;
// 			margin: 0 0 15px;
// 			position: relative;
// 			.board__title{
// 				position: absolute;
// 				top: 20%;
// 			}
// 			.board__date{
// 				position: absolute;
// 				top: 30%;
// 				right: 0%;
// 			}
// 		}
// 		&.rank-list{
// 			li{
// 				height: 120px;
// 				&:nth-child(1){
// 					background:#fff url(../images/rank1.png) no-repeat 2% 40%;
// 					background-size:7%;
// 					border-left:15px solid #ffd700;
// 					border-bottom:5px solid #ffd700;
// 				}
// 				&:nth-child(2){
// 					background:#fff url(../images/rank2.png) no-repeat 2% 40%;
// 					background-size:7%;
// 					border-left:15px solid #c0c0c0;
// 					border-bottom:5px solid #c0c0c0;
// 				}
// 				&:nth-child(3){
// 					background:#fff url(../images/rank3.png) no-repeat 2% 40%;
// 					background-size:7%;
// 					border-left:15px solid #c47222;
// 					border-bottom:5px solid #c47222;
// 				}
// 				.board__title{
// 					left: 10%;
// 					font-size:3vw;
// 				}
// 				.board__date{
// 					text-align: right;
// 					font-size:2vw;
// 					padding: 0 5% 0 0;
// 				}
// 			}
// 		}
// 		&.new-list{
// 			li{
// 				height: 90px;
// 				border-left:4px solid #000;
// 				border-bottom:2px solid #000;
// 			}
// 			.board__title{
// 				left: 5%;
// 				font-size:2vw;
// 			}
// 			.board__date{
// 				text-align: right;
// 				font-size:1.5vw;
// 				padding: 0 5% 0 0;
// 			}
// 		}
// 	}
// }
// //ここからsp
// @media (max-width: 767px) {
// 	.wrapper_rank{
// 		h1{
// 			font-size: 6vw;
// 	    letter-spacing: 1vw;
// 	    text-align:center;
// 	    font-family: "aquino";
// 	    color: #ffa000;
// 			margin: 0 0 2%;
// 	    @include contour(#fff1da);
// 		}
// 		ul{
// 			width: 90%;
// 			margin:0 auto;
// 			li{
// 				background: #fff;
// 				margin: 0 0 15px;
// 				padding: 20px;
// 			}
// 			&.rank-list{
// 				li{
// 					&:nth-child(1){
// 						background:#fff url(../images/rank1.jpg) no-repeat 5% 30%;
// 						background-size:auto 50%;
// 						border-left:7px solid #ffd700;
// 						border-bottom:3px solid #ffd700;
// 					}
// 					&:nth-child(2){
// 						background:#fff url(../images/rank2.jpg) no-repeat 5% 30%;
// 						background-size:auto 50%;
// 						border-left:7px solid #c0c0c0;
// 						border-bottom:3px solid #c0c0c0;
// 					}
// 					&:nth-child(3){
// 						background:#fff url(../images/rank3.jpg) no-repeat 5% 30%;
// 						background-size:auto 50%;
// 						border-left:7px solid #c47222;
// 						border-bottom:3px solid #c47222;
// 					}
// 					.board__title{
// 						font-size:3.5vw;
// 					}
// 					.board__date{
// 						text-align: right;
// 						font-size:2.5vw;
// 						padding: 0 5% 0 0;
// 					}
// 				}
// 			}
// 			&.new-list{
// 				li{
// 					padding-left:5%;
// 					border-left:4px solid #000;
// 					border-bottom:2px solid #000;
// 				}
// 				.board__title{
// 					font-size:2vw;
// 				}
// 				.board__date{
// 					text-align: right;
// 					font-size:1.5vw;
// 					padding: 0 5% 0 0;
// 				}
// 			}
// 		}
// 	}
// }

@mixin sp_width($inner,$max){
	width:$inner;
	max-width: $max;
	margin:0 auto;
}

//class定義
.rank_btn{
	width:80%;
	height:15vw;
	line-height:15vw;
	margin:0 auto;
	background: #ff0;
	text-align: center;
}

.title_text{
	line-height: 1.666;
}

//ここからsp新規
.wrapper{
	@include sp_width(100%,750px);
	background: #0f0;
	#firstview{
		position: relative;
		background: #ff0 url(http://via.placeholder.com/450x800.png) no-repeat center top;
		background-size:auto 100%;
		height: 100vh;
		h1{
			width:80%;
			margin:0 auto;
			padding:45% 0 0;
			img{
				width:100%;
			}
		}
		.rank_btn{
			margin-top: 50%;
		}
		.scroll{
			position: absolute;
			right:0;
			bottom:0;
		}
	}
	#about{
		background: #00f;
		h2{
			font-size:25px;
			text-align: center;
			padding:5% 0;
		}
		.title_text{
			width:90%;
			margin:0 auto;
			padding:0 0 5%;
			font-size:15px;
		}
	}
	#flow{
		background: #f0f;
		h2{
			font-size:25px;
			text-align: center;
		}
		.title_text{
			width:90%;
			margin:0 auto;
		}
		.image_wrap{
			width:90%;
			margin: 0 auto;
			img{
				width: 100%;
			}
		}
		.detail_wrap{

		}
	}
	#come{
		background: #0f0;
		h2{
			font-size:25px;
			text-align: center;
		}
		.title_text{
			width:90%;
			margin:0 auto;
		}
	}
}
